@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0e13;
}

/* For AppBar */
.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}

.darkbg {
  background-color: #02040f;
}

.lightbg {
  background-color: #e6e6e6;
}

.bluebg {
  background-color: #e59500;
}

.darkbluebg {
  background-color: #002642;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #002642;
}

.lightbluebg {
  background-color: #e59500;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #e59500;
}

.darkredbg {
  background-color: #840032;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #840032;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #3661e2;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #3661e2;
}
